.books {
  display: flex;
  padding: 40px;
}

.books> :nth-child(1) {
  width: 20vw;
}

.books> :nth-child(2) {
  width: 80vw;
  padding: 40px;
  border-radius: 10px 0px 0px 10px;
  background: #F5F6F8;
  box-shadow: 0px 15px 80px 0px rgba(0, 0, 0, 0.10);

  .recommended-title {
    color: #000;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.08px;
    padding: 20px 0;
  }
}

.recommended-book {
  width: 500px;
  display: flex;

  &>* {
    padding: 15px 15px 0 0;

  }

  &__title {
    color: #000;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    /* 140% */
    text-transform: capitalize;
  }

  &__author {
    color: rgba(0, 0, 0, 0.6);
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  &__titles {
    color: rgba(0, 0, 0, 0.3);
    font-family: Rambla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
    letter-spacing: 0.048px;
  }

  &__rate> :nth-child(2) {
    color: rgba(0, 0, 0, 0.3);
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    /* 100% */
    letter-spacing: 0.032px;
  }
}

.recommended-book__img img {
  width: 147.454px;
  height: 225.354px;
}

.recommended-books {
  display: grid;
  grid-template-columns: 450px 450px;
  justify-content: space-between;
  gap: 0;
}

// popular 

.books-part__popular {
  margin-top: 100px;
  
  .popular-title {
    color: #000;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.08px;
    padding: 20px 0;
  }
  .popular-title {
    color: #000;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.08px;
  }
  .popular-book__img {
    width: 188px;
    height: 288px;
  }
}

.popular-books {
  display: flex;
  justify-content: space-between;
  
}